<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="">
		<meta name="desciption" content="Somos un grupo de técnicos independientes, que brindamos servicio de mantenimiento y estética para carros de golf, personalizando el carrito al gusto de nuestros clientes.">
		<meta name="keywords" content="golf, carros, carro, carrito, mantenimiento, estética, personalizando, custom, Querétaro, accesorios, personalización, club, residencias, refacciones">
		<link type="image/x-icon" rel="shortcut icon" href="../media/favicon.png">
		<title>Star Golf | Todo para tu carrito de golf</title>
		<noscript>
			<div class="nojs">
			Para visitar nuestra página web es necesario tener Javascript 
			habilitado en tu navegador. Disculpa las molestias.
				<style>
				.nojs {position:absolute; 
				  top: 0px; 
				  left: 0px; 
				  right:0px; 
				  bottom:0px; 
				  display:block; 
				  position:fixed;
				  background:#fff; 
				  color: black; 
				  width:100%; 
				  height:100%; 
				  z-index:1000; }
				</style>
			</div>
		</noscript>
    	<link href="../css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body data-spy="scroll" data-target="#navbar-example">
		<header>
			<section class="header_box_contact">
				<a href="whatsapp://send?text=Hola!"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>442 1234 567</span></a>
				<a href="tel:+4421234567"><i class="fa fa-phone" aria-hidden="true"></i><span>442 1234 567</span></a>
				<a href="mailto:tudireccion@email.com"><i class="fa fa-envelope" aria-hidden="true"></i><span>contacto@starfolf.com</span></a>
			</section>
			<section class="header_box_nav">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<a class="navbar-brand" href="#">
						    <img alt="Brand" title="Brand" src="../media/Logo.svg">
						</a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right nav-tabs" role="tablist">
				        <li><a href="../index.html">Inicio</a></li>
				        <li><a href="./nosotros.html">Nosotros</a></li>
				        <li><a href="./servicios.html">Servicios</a></li>
				        <li><a href="./contacto.html">Contacto</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>

			</section>
		</header>
		<section id="Inicio" class="main_sections" style="background:#fff;padding-top: 95px;"></section>
		<section id="Nosotros" class="main_sections fondoParallax" style="width:100%;background-position: 50% 0px;" data-speed="10" data-type="background">
			<div class="body-img-top">
				<p class="">Servicios</p>
				<img src="../media/l3.svg" style="
				    margin-top: -4px;
				    margin-left: -7px;
				">
			</div>
		</section>
		<section class="" style="background:#fff;">
		<div class="container nosotros-main" id="Servicios">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<img src="../media/carrito.png" class="servicios-img-simple">
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="servicios-descripcion">
						<ul>
							<li>Compra y venta de semi-nuevos</li>
							<li>Venta de carritos nuevos (Club car)</li>
							<li>Refacciones</li>
							<li>Accesorios</li>
							<li>Customización carritos de golf</li>
							<li><a href="#polizaAnual">Póliza anual (cuatrimestral y trimestral)</a></li>
							<li><a href="#servicioMayor">Servicios mayores</a></li>
							<li><a href="#servicioMenor">Servicios menores</a></li>			
						</ul>
						<div class="notas">
							<ul>
								<li>Profesionalismo con técnicos capacitados.</li>
								<li>Mismo precio que Club Car, ahorrándose el envió del carrito. Y pronta entrega.</li>
								<li>Atención al cliente.</li>
								<li>Disponibilidad de refacciones.</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
		</section>
		<br>
		<section id="servicios-img1" class="">
			<div class="servicios-table">
				<table>
					<tr>
						<td class="td-descripcion">Póliza anual trimestral</td>
						<td class="td-precio">$6,960.00 (Con IVA)</td>
					</tr>
					<tr>
						<td class="td-descripcion">Póliza anual cuatrimestral</td>
						<td class="td-precio">$5,220.00 (Con IVA)</td>
					</tr>
					<tr>
						<td class="td-descripcion">Servicio individual</td>
						<td class="td-precio">$2,320.00 (Con IVA)</td>
					</tr>
					<tr>
						<td class="td-descripcion">Diagnóstico</td>
						<td class="td-precio">$755.00 (Con IVA)</td>
					</tr>
				</table>
			</div>
		</section>
		<section class="nosotros-box" id="polizaAnual">
			<div class="container">			
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tituloHead">
							<p>Póliza anual</p>
						</div>
						<div class="row">
							<div class="linea-color" align="center"></div>
						</div>
						<p>Al comprar una póliza anual reciben los siguientes beneficios:</p>
						<ul class="servicio-list">
							<li>Diagnóstico gratis.</li>
							<li>Si ya pagaste tu diagnóstico se te descuenta de la póliza de mantenimiento.</li>
							<li>Si eres miembro de Select golf, nos aseguramos de que siempre tengas un carrito ed golf para jugar cuando lo necesites en caso de que el tuyo este en mantenimiento.</li>
							<li>Nos encargamos de la garantía del carrito.</li>
							<li>En la compra de refacciones, carritos nuevos y semi-nuevos, además de servicio de mantenimiento tendrán garantía.</li>
							<li>Preferencia en las promociones.</li>
							<li>Preferencia para emergencias por ser miembro de Select golf.</li>
							<li>Servicio las 24 horas.	</li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-6">
						<img src="../media/img1.jpg" class="servicios-img">
					</div>
				</div>
			</div>
		</section>
		<section class="nosotros-box" id="servicioMayor">
			<div class="container">			
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tituloHead">
							<p>Servicio mayor</p>
						</div>
						<div class="row">
							<div class="linea-color" align="center"></div>
						</div>
						<ul class="servicio-list">
							<li>Lavado de baterias y chasis</li>
							<li>Inspección y cambio de acceite</li>
							<li>Ajuste y sellado de terminales</li>
							<li>Revisión y ajuste de presión de llantas</li>
							<li>Revisión de cableado y conexiones eléctricas</li>
							<li>Engrasado de suspensión</li>
							<li>Revisión y ajuste de la dirección</li>
							<li>Alineación de ruedas delanteras</li>
							<li>Lubricación de receptáculo</li>
							<li>Escaneo y correción de fallas</li>
							<li>Reporte de servicio por carrito</li>
							<li>Revisión y ajuste de cables de frenado</li>
							<li>Lubricación sistema de frenado</li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-6">
						<img src="../media/img2.jpg" class="servicios-img">
					</div>
				</div>
			</div>
		</section>
		<section class="nosotros-box" id="servicioMenor">
			<div class="container">			
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tituloHead">
							<p>Servicio menor</p>
						</div>
						<div class="row">
							<div class="linea-color" align="center"></div>
						</div>
						<ul class="servicio-list">
							<li>Lavado de baterias y chasis</li>
							<li>Inspección y cambio de acceite</li>
							<li>Ajuste y sellado de terminales</li>
							<li>Revisión y ajuste de presión de llantas</li>
							<li>Lubricación de receptáculo</li>
							<li>Escaneo y correción de fallas</li>
							<li>Reporte de servicio por carrito</li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-6">
						<img src="../media/img3.jpg" class="servicios-img">
					</div>
				</div>
			</div>
		</section>
		<section id="Contacto" class="main_sections" style="height:400px">
			<div class="boton_contacto"><a href="view/contacto.html"><span class="fa fa-send" aria-hidden="true"></span>Contactanos</a></div>
		</section>
		<footer>
			<div class="container_fullWidth">
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="box-footer">
						<section class="f_img"><img src="../media/logo.svg" alt="StarGolf" title="StarGolf" style="width: 150px;"></section>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="box-footer">
						<section class="f_direcciones">
							<span class="f_direcciones_text"><span class="fa fa-phone" aria-hidden="true"></span> 442 123 4567</span><br>
							<span class="f_direcciones_text"><span class="fa fa-envelope" aria-hidden="true"></span>contacto@stargolf.com</span><br>
							<span class="f_direcciones_text"><span class="fa fa-map-marker" aria-hidden="true"></span>Domicilio  #00 col. Centro Querétaro, Qro.</span><br>
						</section>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="box-footer">
						<section class="f_sociales">
							<a href="https://es-la.facebook.com/" target="_blank"><span class="fa fa-facebook-official" aria-hidden="true"></span></a>
							<a href=""><span class="fa fa-google-plus" aria-hidden="true"></span></a>
							<a href=""><span class="fa fa-twitter" aria-hidden="true"></span></a>
						</section>
					</div>
				</div>
				<section class="f_derechos">
						<span><a href="view/privacidad.html">Política de privacidad</a> | <a href="view/cookies.html">Cookies</a></span><br>
				</section>
			</div>
		</footer>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
		$('body').scrollspy({ target: '#bs-example-navbar-collapse-1',offset: 110});

  		$("#bs-example-navbar-collapse-1 a").on('click', function(event) {
    		event.preventDefault();
			var hash = this.hash;
    		$('html, body').animate({scrollTop: $(hash).offset().top}, 800, function(){window.location.hash = hash;});
  		});


  		$(".btn_incio a").on('click', function(event) {
    		event.preventDefault();
		    var hash = this.hash;
    		$('html, body').animate({scrollTop: $(hash).offset().top}, 800, function(){window.location.hash = hash;});
  		});


			$window = $(window);
		  	$('section[data-type="background"]').each(function(){
		    	var $bgobj = $(this);
		    	$(window).scroll(function() {							
					var yPos = -($window.scrollTop() / $bgobj.data('speed')); 
					var coords = '50% '+ yPos + 'px';
					$bgobj.css({ backgroundPosition: coords });
				});
			});	

/**CARRUSEL*/


			var $myCarousel = $('#carousel-example-generic');
			// Initialize carousel
			$myCarousel.carousel();

			function doAnimations(elems) {
			  var animEndEv = 'webkitAnimationEnd animationend';
			  
			  elems.each(function () {
			    var $this = $(this),
			        $animationType = $this.data('animation');

			    // Add animate.css classes to
			    // the elements to be animated 
			    // Remove animate.css classes
			    // once the animation event has ended
			    $this.addClass($animationType).one(animEndEv, function () {
			      $this.removeClass($animationType);
			    });
			  });
			}

			// Select the elements to be animated
			// in the first slide on page load
			var $firstAnimatingElems = $myCarousel.find('.item:first')
			                           .find('[data-animation ^= "animated"]');

			// Apply the animation using our function
			doAnimations($firstAnimatingElems);

			// Pause the carousel 
			$myCarousel.carousel('pause');

			// Attach our doAnimations() function to the
			// carousel's slide.bs.carousel event 
			$myCarousel.on('slide.bs.carousel', function (e) { 
			  // Select the elements to be animated inside the active slide 
			  var $animatingElems = $(e.relatedTarget)
			                        .find("[data-animation ^= 'animated']");
			  doAnimations($animatingElems);
			});



	});
			
	</script>
	</body>
</html>
